@import "tailwindcss";
@import "@radix-ui/themes/styles.css";
@import "leaflet/dist/leaflet.css";

* {
  font-family:
    DM Sans,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.leaflet-container {
  border-radius: 1rem;
  height: 50vh;
  width: 100%;
}

textarea:focus,
input:focus,
select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.hide {
  display: none;
}

.box-popup {
}
