@import "tailwindcss";
@import "@radix-ui/themes/styles.css";

* {
  font-family:
    DM Sans,
    sans-serif;
}

textarea:focus,
input:focus,
select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}
